.apply{
    background: linear-gradient(90deg, #0a5c11 0%, #8af55f 100%);
    border-radius: 6px;
    padding: 10px;
    border: 1px solid rgb(193, 241, 61);
    color: #ffffff;
}
.apply:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #04f872 0%, #31ee20 100%);
}

.card-pic{
    border-radius: 5px;
}
.category-item{
    color: #6b6a6a;
}
.category-item:hover{
    cursor: pointer;
}
.category-img{
    width: 188px;
    height: 150px;
    border-radius: 50%;
}

.special-img{
    width: 265px;
    height: 175px;
    border-radius: 18px;
    padding: 10px;
}


/* footer section style */
.foot-icon-con{
    background: #d2ecdf;
}
.social-icon{
    width: 25px;
    height: 25px;
    margin: 8px;
}
.social-icon:hover{
    cursor: pointer;
}
.fainsta{
    color: #ff0097;
}
.fawhats{
    color: #00e676;
}

.recipe-img{
    width: 360px;
    height: 245px;
}


.profile-image:hover{
    cursor: pointer;
    transition: all ease 0.10s;
}

